<html>
   {% load static %}
   <head>
      <title>Profil Diri</title>
   </head>
   <body>
      <h1 align="center"> Profil Diri </h1>
      <br/>
      
      <img src="{% static 'images/foto.jpg' %}" alt="foto diri" style=width:300px;height:300px/> 

      <p> <b> Nama</b> : Fairuza Raryasdya Ayunda </p>
      <p> <b> NPM</b> : 1906285610 </p>
      <p> <b> Angkatan</b> : 2019 </p>
      <p> <b> Tempat Kuliah</b> : Fakultas Ilmu Komputer, Universitas Indonesia</p>
      <p> <b> Hobi</b> : Main laptop </p>
      <p> <b> Deskripsi Diri</b> : </p>
      <p> Aku orang beruntung yang sepanjang hidupnya selalu diiringi doa kuat dari orang tua. Walaupun sedang menjalani jadwal perkuliahan yang padat di jurusan Ilmu Komputer, jam tidurku masih terhitung banyak. Selain itu, melihat anak kecil tertawa bahagia udah cukup membuatku senang. </p>
      

      <p> <b>Riwayat Pendidikan </b> : </p>
      <table border='1'>
         <tr align="center">
            <th> <b> Tahun </b> </th>
            <th> <b> Nama Sekolah </b> </th>
         
         <tr>
            <td align="center"> 2019 - Sekarang </td>
            <td> Universitas Indonesia </td> 
         </tr>
         
         <tr>
            <td align="center"> 2016 - 2019 </td>
            <td> SMAN 2 Kota Tangerang Selatan </td>
         </tr>
         </tr>
         
         <tr>
            <td align="center"> 2013 - 2016 </td>
            <td> SMP Islam Al-Azhar BSD </td>
         </tr>
         
         <tr>
            <td align="center"> 2007 - 2013 </td>
            <td> SD Islam Cikal Harapan I BSD </td>
         </tr>
         
         <tr>
            <td align="center"> 2003 - 2007 </td>
            <td> Taman Bermain Insan Kamil </td>
         </tr>
      </table>

      <br/>
      <p> <b> Media Sosial </b> : </p>
      <a href="https://instagram.com/fairuzafe" target="_blank">
         <img src="{% static 'images/instagram.png' %}" alt="instagram" style=width:50px;height:50px/> 
      </a>
      <a href="https://linkedin.com/in/raryasdya" target="_blank">
         <img src="{% static 'images/linkedin.png' %}" alt="linkedin" style=width:50px;height:50px/> 
      </a>
   </body>
</html>