{% extends 'base.html' %}
{% load static %}
{% block title %} Activity {% endblock %}

{% block content %}
{% include 'navbar.html' %}
<section class="container-fluid d-flex flex-wrap align-content-center mt-5">
	<div class="section-title mx-auto text-center mt-5"> 
			ACTIVITY LIST
	  <a href="{% url 'story_6:add_activity' %}" class="text-white">
		<button class="btn btn-primary d-flex mx-auto my-2 click">
			Add New Activity
		</button>
	  </a>
	</div>

	<div class="row w-100 justify-content-center">
		{% for x in activity %}
			<div class="col-4 m-4 p-4 rounded border">
				<ul class="list-group">
				  <li class="list-group-item list-group-item-secondary"> <b> {{ x.kegiatan }} </b> </li>

			      {% for y in attendees %}
				    {% if y.kegiatan == x %}
					  	<form method="POST" action="{% url 'story_6:activity' %}">
					    {% csrf_token %}
					    <input name="id" value="{{y.id}}" type="hidden">
				  		<li class="list-group-item"> 
				  			<div class="d-flex justify-content-between"> 
				  				{{ y.nama }} 
					          <button type="submit" value="Submit" class="btn btn-primary" style="font-size: 0.8rem;"> 
					          x
					           </button>
					        </form>
				  			</div>
				  		</li>
				    {% endif %}
			      {% endfor %}
				</ul>

				<div class="section-title mx-auto text-center"> 
				  <a href="register/{{ x.id }}" class="text-white">
					<button class="btn btn-primary d-flex mx-auto my-2 click">
					  	Register Yourself
					</button>
				  </a>
				</div>
			</div>
		{% endfor %}
	</div>

</section>
{% endblock %}