html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
section {
	min-height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}
body {
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size:22px;
	color: #000000;
}


/*SECTION 1*/
#home {
    background-image: url("/static/images/unsplash.jpg");
	/*Photo by Mads Schmidt Rasmussen on Unsplash*/
    background-size: cover;
    background-position: center;

	min-height: 100vh;
	max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#home .title {
	font-family: 'Handlee', cursive;
	font-style: normal;
	font-weight: bold;
	font-size: 115px;
	line-height: 154px;
	letter-spacing: 0.15em;
}
#home .subtitle {
	font-family: 'Indie Flower', cursive;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	line-height: 50px;
	letter-spacing: 0.15em;
}
#home img {
	width: 5%;
}


/*SECTION 2*/
#about {
	min-height: 100vh;
	max-width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items:center;

	padding: 50px 50px 50px 50px;
	background-color:#FFF3F2;
}
#about h4 {
	font-weight: bold;
	line-height: 35px;
	line-height: 159%;
	font-size:22px;

	align-items: center;
	color: #F67280;
}
#about h5 {
	font-size:22px;
	line-height: 159%;

	display:flex;
	align-items: center;
}
#about .profpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 35%;
}
#about article  {
	padding: 25px 25px 0px 25px;
}
.section-title {
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	line-height: 37px;
	text-align: center;
	letter-spacing: 0.2em;

	padding: 10px 0px 40px 0px;
	color: #F67280;
}


/*SECTION 3*/
#education {
	min-height: 100vh;
	max-width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items:center;

	padding: 50px 50px 50px 50px;
	background-color:#FFFFFF;
}
#education h4 {
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
}
#education h5 {
	font-weight: bold;
	font-size: 17px;
	line-height: 21px;
	letter-spacing: 0.1em;
	margin-bottom: 25px
}
#education p {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 0px;
}
#education .pic {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
#education .row {
	padding: 10px 0px 10px 0px;
	text-align: left;
    justify-content: center;
    align-items: center;
}
#education .pic-box{
	font-size: 24px;
	line-height: 60px;
	text-align: justify;
	justify-content: center;
    align-items: center;
}


/*SECTION 4*/
#more .right-side,
#section-e .right-side {
	min-height: 100vh;
    justify-content: center;
    align-items:center;
    text-align: center;

	padding: 50px 50px 50px 50px;
	background-color:#585858;
}
#more .contact {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	line-height: 37px;
	letter-spacing: 0.1em;

	color: #F497A1;
	padding: 25px 0px 25px 0px;
}

#more .left-side {
	min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
	
	padding: 50px 25px 50px 25px;
	background-color:#FFF3F2;
}
#more .click,
#section-e .click-2 {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 0.15em;

	text-align: center;
	justify-content: center;
    align-items:center;

	color: #FFECEB;

	width: 250px;
	height: 60px;
	background-color: #F497A1;
	border: 1px solid #000000;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    transition: background-color .3s;
}
.click:hover{
	background-color: #585858 !important;
	color: #F497A1 !important;
	text-decoration: none;
}
.click-2:hover {
	background-color: #FFECEB !important;
	color: #F497A1 !important;
	text-decoration: none;
}
#more .col-sm-4{
	padding: 25px 25px 25px 25px;
}
#more .left-text{
	font-size: 24px;
	line-height: 60px;
	text-align: justify;
	justify-content: center;
    align-items:center;
}


/*EXTRA-PAGE*/
#section-a {
    background-image: url("/static/images/cover.jpg");
    background-size: cover;
    background-position: center;
    
	min-height: 100vh;
	max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: baseline;
    padding: 0px;
}
#section-a .quote {
	font-family: 'Cookie', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 39px;

	text-align: center;
	align-items: flex-end;
	justify-content: center;
	letter-spacing: 0.15em;

	width: 100vw;
	color: #FFFFFF;
	background-color: rgba(0,0,0,.7);
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

.heading-1 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}
.heading-2 {
	font-size: 19px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}
.paragraph {
	font-size: 19px;
	text-align: left;
}
.heading-1,
.heading-2,
.paragraph {
	text-align: justify;
	justify-content: center;
	padding: 0px 105px 0px 105px;
}
.image {
	max-width: 100%;
	margin: 0px 0px 20px 0px;
}
#section-b,
#section-c,
#section-d {
	min-height: 100vh;
	max-width: 100vw
    justify-content: center;
    align-items: center;
    text-align: center;
	
	padding: 20px 50px 20px 50px;
}

#section-c,
#section-e .left-side {
	background: #FFF3F2;
}
#section-e .left-side,
#section-e .right-side {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-weight: bold;
}
#section-e .click-2 {
	width: 300px;
}


@media (max-width: 991.98px) {
	#about .col-12  {
		margin: auto;
		padding: 30px 20px 0px 20px;
	}
	#about article {
		padding: 30px 0px 40px 0px;
	}
	#home .title {
		font-size: 45px;
	}
	#home .subtitle {
		font-size: 20px;
	}
	#education .pic {
		margin-bottom: 30px;
	}
	.heading-1,
	.heading-2,
	.paragraph {
		padding: 0px;
	}
	#section-a .quote {
		font-size: 25px;
		padding: 10px 10px 10px 10px;
	}
	.section-title{
		font-size: 35px;
	}
	#education {
		padding: 50px 28px 20px 28px;
	}
	.profpic {
		width: 50% !important;
	}
	.special {
		padding: 0px 2px 0px 2px;
	}
}

#section-e .btn {
	background-color: #FFF3F2;
}

.btn {
	background-color: #F497A1;
	border: 1px black;
	font-size:17px;
	font-color:black;
}
.dropdown .btn {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}