<div class="dropdown fixed-top">
  <button class="btn btn-secondary dropdown-toggle ml-4 pl-3 pr-3"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
   <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'story_4:home' %}#home">Home</a>
      <a class="dropdown-item" href="{% url 'story_4:home' %}#about">About Me</a>
      <a class="dropdown-item" href="{% url 'story_4:home' %}#education">Education</a>
      <a class="dropdown-item" href="{% url 'story_4:home' %}#more">More</a>
      
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header"> Story 5 </h6>
      <a class="dropdown-item" href="{% url 'story_5:subject' %}">Subject List</a>
      <a class="dropdown-item" href="{% url 'story_5:add_subject' %}">Add Subject</a>

      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header"> Story 6 </h6>
      <a class="dropdown-item" href="{% url 'story_6:activity' %}"> Activity List </a>
      <a class="dropdown-item" href="{% url 'story_6:add_activity' %}"> Add Activity </a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'story_1:home' %}" target="_blank">Story 1</a>
      <a class="dropdown-item" href="{% url 'story_4:time' %}">Time</a>
    </div>
</div>