{% extends 'base.html' %}
{% load static %}
{% block title %} Extra Page {% endblock %}

{% block content %}
{% include 'navbar.html' %}

	<section id="section-a" class="container-fluid d-flex flex-wrap">
		<p class="quote align-self-end">
			“Life’s most persistent and urgent question is : ‘What are you doing for others?’ “ <br/>
			- Marthin Luther King Jr.
		</p>
	</section>

	<section id="section-b" class="container-fluid d-flex flex-wrap align-content-center">
		<div class="row justify-content-center">
		  <div class="col-12 col-sm-5">
			<img class="image" src="{% static 'images/sospro-1.jpg' %}" alt="sospro-1">
		  </div>
		  <div class="col-12 col-sm-5">
			<img class="image" src="{% static 'images/sospro-2.jpg' %}" alt="sospro-2">
		  </div>
		</div>
		<br>
		<div class="heading-1 col-12">
			SOCIAL PROJECT
		</div>
		<div class="heading-2 col-12">
			23rd October 2019
		</div>
		<br>
		<div class="paragraph col-12">
			This event was held by the freshmen of Fasilkom UI as a part of our Student Orientation. I was one of the mentor who taught high-schoolers in Sekolah Master, Depok. It was both thrilling and fun since we are almost the same age.
		</div>
	</section>

	<section id="section-c" class="container-fluid d-flex flex-wrap align-content-center">
		<div class="row justify-content-center">
		  <div class="col-12 col-sm-5">
			<img class="image" src="{% static 'images/sikola-1.jpg' %}" alt="sikola-1">
		  </div>
		  <div class="col-12 col-sm-5">
			<img class="image" src="{% static 'images/sikola-2.jpg' %}" alt="sikola-2">
		  </div>
		</div>
		<br>
		<div class="heading-1 col-12">
			SIKOLA
		</div>
		<div class="heading-2 col-12">
			7th December 2019
		</div>
		<br>
		<div class="paragraph col-12">
			SIKOLA is the closing event of Pedas, an annual donation program for Fasilkom’s staff. I was chosen to host the event with Akbar. We played games, ate lunch together, and at the end of the event, we also donated school stationery.
		</div>
	</section>

	<section id="section-d" class="container-fluid d-flex flex-wrap align-content-center">
		<div class="row justify-content-center">
		  <div class="col-12 col-sm-5">
			<img class="image" src="{% static 'images/bebenah-1.jpg' %}" alt="bebenah-1">
		  </div>
		  <div class="col-12 col-sm-5">
			<img class="image" src="{% static 'images/bebenah-2.jpg' %}" alt="bebenah-2">
		  </div>
		</div>
		<br>
		<div class="heading-1 col-12">
			BEBENAH BANTEN
		</div>
		<div class="heading-2 col-12">
			19th - 23rd January 2020
		</div>
		<br>
		<div class="paragraph col-12">
			Bebenah Banten is an annual community development event held by FORKOMA UI. I was assigned to teach 2nd grade students of SDN 1 Nayagati for 2 days. We taught them clean and healthy lifestyle and balanced diet. Besides, we also held a free medical check-up at Kampung Cakuem, Desa Nayagati.
		</div>
	</section>

	<section id="section-e" class="container-fluid">
		<div class="row">
			<div class="col-sm-6 left-side">
				<button type="button" class="btn align-self-center" data-toggle="modal" data-target="#exampleModal">
					<span class="iconify" data-inline="false" data-icon="ant-design:picture-outlined" style="font-size: 290px;"></span>
        		</button>
	  			and hopefully there will be more to come :) </br>
	  			(ps. you can click the gallery icon to see more photos)
		  	</div>

		  	<div class="col-sm-6 right-side">
				<a href="{% url 'story_4:home' %}">
				  <div class="d-flex click-2 m-auto">
	  				BACK TO HOME
	  			  </div>
	  			</a>
		  	</div>
  		</div>
  	</section>

  	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="section-title" id="exampleModalLabel" style="padding:0px;"> My Gallery </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'images/so-1.jpg' %}" alt="First slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/so-2.jpg' %}" alt="Second slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/si-1.jpg' %}" alt="Third slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/si-2.jpg' %}" alt="Fourth slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/be-1.jpg' %}" alt="Fifth slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/be-2.jpg' %}" alt="Sixth slide">
                            </div>

                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'images/be-3.jpg' %}" alt="Seventh slide">
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}