{% extends 'base.html' %}
{% load static %}
{% block title %} Fairuza Raryasdya {% endblock %}

{% block content %}
{% include 'navbar.html' %}

	<section id="home" class="container-fluid">
		<h1 class="title"> WELCOME! </h1>
		<p class="subtitle"> My name is Fairuza, and now you're at my website</p>
		<a href="#about">
			<img src="{% static 'images/Arrow.png' %}" alt="Arrow">
		</a>
	</section>

  	<section id="about" class="container-fluid d-flex flex-wrap align-content-center ">
	    <div class="section-title mx-auto"> 
			ABOUT ME
  		</div>
	    <div class="row align-items-center justify-content-center">
			<div class="col-sm-5 mr-3">
				<img class="profpic" src="{% static 'images/profile.jpg' %}" alt="Profile Picture">
				<article class="text-justify">
					I’m a young girl who loves logical thinking and has a burning passion in Computer Science. I recently made the discovery that seeing children’s laughter induces the happiness in me too.
				</article>
			</div>
			
			<div class="col-sm-4 mr-3">
				<h4> FULL NAME </h4>
				<h5> Fairuza Raryasdya Ayunda </h5>
				<br>
				<h4> EDUCATION </h4>
				<h5> Faculty of Computer Science, </h5>
				<h5> University of Indonesia </h5>
				<br>
				<h4> CONTACT </h4>
				<h5> fairuza.raryasdya@ui.ac.id </h5>
			</div>
		</div>
	</section>

	<section id="education" class="container-fluid">
		<div class="section-title mx-auto text-center"> 
  			EDUCATION
  		</div>

		<div class="row justify-content-center mb-3">
			<div class="col-sm-4">
				<img class="pic" src="{% static 'images/Makara_UI.png' %}" alt="Universitas Indonesia">
			</div>
			<div class="col-sm-6">
				<h4> Universitas Indonesia <h4>
				<h5> 2019 - present </h5>
				<p> Public Relations Staff, Pemira Fasilkom UI 2019 </p>
				<p> Head of Public Relations Division, DPM Fasilkom UI 2020 </p>
			</div>
		</div>
			
		<div class="row justify-content-center mb-3">
			<div class="d-flex pic-box col-sm-4">
				<img class="pic" src="{% static 'images/sma.png' %}" alt="SMAN 2 Tangerang Selatan">
			</div>
			<div class="col-sm-6">
				<h4> SMAN 2 Tangerang Selatan </h4>
				<h5> 2016 - 2019 </h5>
				<p> Silver Medalist, National Science Olympiad in Informatics 2018 </p>
			</div>
		</div>
		
		<div class="row justify-content-center mb-3">
			<div class="col-sm-4">
				<img class="pic" src="{% static 'images/smp.png' %}" alt="SMP Islam Al-Azhar BSD" style="width: 200px;">
			</div>
			<div class="col-sm-6">
				<h4> SMP Islam Al-Azhar BSD </h4>
				<h5> 2013 - 2016 </h5>
				<p> Member of Student Council </p>
			</div>
		</div>
	</section>

	<section id="more" class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<div class="row left-side">
					<div class="special col">
			  		  <div class="row mx-auto mb-4">
						<div class="col-sm-6 mt-4 mb-4">
							<img src="{% static 'images/footer-edit.jpg' %}" alt="Children" style="max-width: 100%;">
						</div>
						<div class="special d-flex col-sm-6 left-text">
			  				Observing children's joy fills up my happiness metre. Click to find out what we did together.
			  			</div>
			  		  </div>
					  <a href="{% url 'story_4:extra' %}" class="d-flex m-auto click">
		  				CLICK HERE
			  		  </a>
		  			</div>
		  		</div>
		  	</div>

		  	<div class="col-sm-6">
				<div class="row right-side">
					<div class="col">
						<div class="contact">
							CONTACT ME AT
						</div>

						<div class="row">
							<div class="col-sm-4">
							  <a href="mailto:fairuza.raryasdya@ui.ac.id">
								<span class="iconify" data-inline="false" data-icon="feather:mail" style="color: #F9E1E0; font-size: 75px;"></span>
							  </a>
							</div>
							<div class="col-sm-4">
							  <a href="https://instagram.com/fairuzafe" target="_blank">
								<span class="iconify" data-inline="false" data-icon="ant-design:instagram-outlined" style="color: #F9E1E0; font-size: 75px;"></span>
							  </a>
							</div>
							<div class="col-sm-4">
				  			  <a href="https://linkedin.com/in/raryasdya" target="_blank">
				  				<span class="iconify" data-inline="false" data-icon="jam:linkedin-square" style="color: #F9E1E0; font-size: 75px;"></span>
				  			  </a>
				  			</div>
				  		</div>
			  		</div>
		  		</div>
		  	</div>
  		</div>
  	</section>  	

{% endblock %}