{% extends 'base.html' %}
{% load static %}
{% block title %} What time is it? {% endblock %}

{% block content %}
{% include 'navbar.html' %}
	<br>
	<br>
	<br>
	<p class="pl-5"> Current UTC time {{ utc_time | time:"H:i:s"}}</p>
	<p class="pl-5"> Current UTC + {{ utc }} time is {{ timezone_time | time:"H:i:s"}}</p>

{% endblock %}