{% extends 'base.html' %}
{% load static %}
{% block title %} Subject List {% endblock %}

{% block content %}
{% include 'navbar.html' %}
<section class="container-fluid d-flex flex-wrap align-content-center ">
	<div class="section-title mx-auto text-center"> 
			SUBJECT LIST
	</div>
	<table class="table table-bordered mx-5" style="width:90vw">
	  <thead class="thead-light text-center">
	    <tr>
	      <th>Subject</th>
	      <th>Lecturer</th>
	      <th>Credit(s)</th>
	      <th>Delete</th>
	    </tr>
	  </thead>
		<tbody>
		    {% for x in subject_list %}
			<tr>
				<td> <a href="detail/{{ x.id }}">{{ x.matkul }} </a> </td>
				<td> {{ x.dosen }} </td>
				<td class="text-center"> {{ x.sks }} </td>
				<td class="text-center"> 
					<form method="POST" action="{% url 'story_5:subject' %}">
			          {% csrf_token %}
			          <input name="id" value="{{x.id}}" type="hidden">
			          <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem;">Delete</button>
			        </form>
				</td>
			</tr>
		    {% endfor %}
		</tbody>
	</table>

	<button class="btn btn-primary d-flex m-auto click"> 
		<a href="{% url 'story_5:add_subject' %}" class="text-white">
			Add New Subject
		</a>
	</button>
</section>
{% endblock %}