{% extends 'base.html' %}
{% load static %}
{% block title %} {{ subject.matkul }} {% endblock %}

{% block content %}
{% include 'navbar.html' %}
	<section class="container-fluid d-flex flex-wrap align-content-center ">
		<div class="section-title m-auto text-center"> 
			{{ subject.matkul }}
		</div>
  	  <table class="table table-bordered mx-5" style="width:90vw">
		<tbody>
			<tr>
				<td> <b> Lecturer </b> </td>
				<td> {{ subject.dosen }} </td>
			</tr>
			<tr>
				<td> <b> Credit(s) </b> </td>
				<td> {{ subject.sks }} </td>
			</tr>
			<tr>
				<td> <b> Term </b> </td>
				<td> {{ subject.semester }} </td>
			</tr>
			<tr>
				<td> <b> Classroom </b> </td>
				<td> {{ subject.kelas }} </td>
			</tr>
			<tr>
				<td> <b> Description </b> </td>
				<td> {{ subject.deskripsi }} </td>
			</tr>
		</tbody>
	  </table>

	  <table class="table table-bordered mx-5" style="width:90vw">
		  <tr> 
		  	<td> <b> Tasks </b> </td>
		  </tr>
		
		{% for x in overdue %}
		  <tr class="table-danger">
			<td> {{ x.tugas }} </td>
			<td> {{ x.deadline }} </td>
		  </tr>
		{% endfor %}

		{% for x in near %}
		  <tr class="table-warning">
			<td> {{ x.tugas }} </td>
			<td> {{ x.deadline }} </td>
		  </tr>
		{% endfor %}

		{% for x in far %}
		  <tr class="table-success">
			<td> {{ x.tugas }} </td>
			<td> {{ x.deadline }} </td>
		  </tr>
		{% endfor %}
	  </table>

	  <button class="btn btn-primary d-flex m-auto click"> 
		<a href="{% url 'story_5:subject' %}" class="text-white">
			Back to Subject List
		</a>
	  </button>
  	</section>>

{% endblock %}